<!DOCTYPE html>
html(lang="ru")
  head
    title Поиск закупочных процедур    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="style.css", type="text/css")
    script(type="text/javascript" src="vue.js")    
    script(type="text/javascript" src="scripts.js" defer)
    script(type="text/javascript" src="socket.io.min.js")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div#app
      header          
        form(v-bind:class="{ error: isError }")          
          input(type="date" v-bind:value="date" v-on:change="dateChange" aria-label="date")
          input(v-model="customer" type="text" placeholder="Поиск по заказчику" aria-label="Customer search")
          input(v-model="desc" type="text" placeholder="Поиск в описании" aria-label="Description search")
          button#search(v-on:click.prevent="search") Искать
          button#parse(v-on:click.prevent="parse") Обновить          
          //- p Заказчик: {{ customer }}
          //- p Описание: {{ desc }}
          span.msg(v-if="isError == true") Ошибка: {{ status }}
          span.msg(v-if="isError == false" v-bind:title="status=='Парсинг' ? executor : null") Последнее обновление: {{ lastUpdateTime }} {{ status }}            
          button.stop-word(v-on:click.prevent="addStopWord" v-on:click.prevent.alt.exact="stopWordEditor") 
            img(src="img/stop.svg" width="20" height="20" title="Добавление стоп-слова в базу")
        progress(v-bind:value="parsingProgress" v-bind:max="maxProgress")       
      main(v-on:click="isActive=false" v-on:click.ctrl.exact="isStopwordsEditor=false")              
        p.search-msg(v-if="message") {{ message }}        
        div(v-for="item in items" :key="item.number")
          div.item-card
            h1 {{ item.customer }}
            p {{ item.number }}
            p <b>Тип закупки:</b> {{ item.type }}
            p <b>Описание:</b> {{ item.description }}
            p <b>Цена:</b> {{ item.price }}
            p <b>Дата публикации:</b> {{ item.published }}
            p <b>Дата окончания:</b> {{ item.end }}
            p(v-if="item.securing_requisition") <b>Обеспечение заявки:</b> {{ item.securing_requisition }}
            p(v-if="item.securing_contract") <b>Обеспечение договора:</b> {{ item.securing_contract }}
            p 
              a(v-bind:href="item.link" target="_blank")
                <b>Подробнее</b>...  
              a(v-if="item.documents" v-bind:href="item.documents" target="_blank")
                <b>Документы</b>...   
            img.mail(src="img/mail.png" alt="Отправить на email" width="40" v-on:click.prevent="sendMail" :id="item.number")          
          hr        
        informer(v-if="isActive" v-bind:informer_msg="informer_msg")
        stopwords-editor(v-if="isStopwordsEditor" v-bind:stopwords_list="stopwords_list"  v-bind:stop_word_delete="stop_word_delete")

        if message
          p.start-msg #{message}
        if items       
          each item in items            
            div.item-card
              h1 #{item.customer}
              p #{item.number}
              if item.type
                p <b>Тип закупки:</b> #{item.type}
              p <b>Описание:</b> #{item.description}
              if item.price
                p <b>Цена:</b> #{item.price}
              p <b>Дата публикации:</b> #{item.published}
              p <b>Дата окончания:</b> #{item.end}
              if item.securing_requisition
                p <b>Обеспечение заявки:</b> #{item.securing_requisition}
              if item.securing_contract
                p <b>Обеспечение договора:</b> #{item.securing_contract}
              p 
                a(href=item.link target="_blank")
                  <b>Подробнее</b>...  
                if item.documents
                  a(href=item.documents target="_blank")
                    <b>Документы</b>...              
            hr